.button {
   background-color: rgb(226, 121, 186);
  box-shadow: 2px 2px 10px 3pxrgb(226, 121, 186);
  border: none;
  padding: 7px;
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
}

.list_item {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  width: 100%;
  align-items: center;
}

.list_span {
  text-decoration: none;
}