.loginBox {
  display: flex;
  background-color: #ffeaea;
  width: 1000px;
  height: 600px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  background-size: cover;
}

.loginContainer {
  width: 600px;
  height: 550px;
  background-color: #ffffffe4;
  margin-top: auto;
  padding: 24px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  text-align: center;
}


.title {
   color: rgb(7, 7, 7);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
 
}

.formLabel {
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 20px;
}

.formInput {
  padding: 5px;
  padding-left: 15px;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 8px 8px 24px 0px rgba(187, 68, 68, 1);
  border: none;
}

.btn {
 background-color: transparent;
 box-shadow: 8px 8px 24px 0px rgba(187, 68, 68, 1);
  border: none;
  border-radius: 15px;
  font-size: 16px;
  width: 100px;
  height: 30px;
  margin-left: 35%;
}


.btn:hover,
.btn:focus {
 box-shadow: 8px 8px 24px 0px rgba(187, 68, 68, 1);
  background-color:(20, 42, 116);
 border-radius: 90%;
}


.txt {
  margin-bottom: 20px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}


.txtLink {
    color:rgb(20, 42, 116);
}

.txtLink:hover,
.txtLink:focus {
  box-shadow:  (20, 42, 116);
  border-radius: 90%;
}
